{% extends "admin/base_site.html" %} {% block content %}
<h1>Export</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="display: flex; flex-direction: column; gap: 1rem;">
    <a style="text-decoration: underline; font-weight: 400; font-size: 12px;" href="{% url 'cms:export_order' 'D' %}">📄 Export DELIVERED orders</a>
    <a style="text-decoration: underline; font-weight: 400; font-size: 12px;" href="{% url 'cms:export_order' 'C' %}">📄 Export CANCELLED orders</a>
    <a style="text-decoration: underline; font-weight: 400; font-size: 12px;" href="{% url 'cms:export_order' 'I' %}">📄 Export IN-PROGRESS orders</a>
    <a style="text-decoration: underline; font-weight: 400; font-size: 12px;" href="{% url 'cms:export_order' 'S' %}">📄 Export SHIPPED orders</a>
  </div>
</form>
{% endblock %}
